body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url("./home-background.jpg");
}

.Homepage {
    margin-top: 25%;
    background-color: rgba(240, 240, 240, 0.5);
    justify-content: center;
    align-items: center;
}

.Homepage-button {
    display: block;
    margin-bottom: 3%;
}