.JobCard {
    text-decoration: none;
    margin: 2%;
    color:black;
    max-height: 250px;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 1px 3px rgb(151, 150, 150);
    width: 60%;
}

.JobCard .card-body{
    flex: 1 1 auto;
    justify-content: left;
    text-align: left;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.JobCard{
    width: auto;
    }
}